<style>
.event{background-color: #FFFFC2; 
	text-align: center;
	color: #758EA9;
	font-family: 'Asap', sans-serif;
	font-size: 26px;
	padding-left:5mm;
	padding-bottom: 1mm;
}

#event_title{font-size: 20px;
	font-family: 'Asap', sans-serif;
	background-color: #FFFFC2;
	color: #758EA9;
	text-align: center;
}
</style>

<% @events.each do | event | %>

  <fieldset class = "event">
  <p id = "event_title"><b><%= link_to event.title, event_path(event.id) %></b></p>
  <p><%= event.description %></p>
  <p>Start time: <%= event.start_time %></p>
  <p>End time: <%= event.end_time %></p>
  <p>Location: <%= event.location %></p>
  <p>Registrants: <%= event.registrants %></p>
  </fieldset>
  <p>

<% end %>

