<% @events.each do | event | %>
  <p><%= event.title %></p>
  <p><%= event.description %></p>
  <p><%= event.start_time %></p>
  <p><%= event.end_time %></p>
  <p><%= event.location %></p>
  <p><%= event.upvote %></p>
  <b><%= link_to "Comments", event %></b>
<% end %>