<h3><b><%= @event.title %></b></h3>
<p><%= @event.description %></p>
<p>Start time: <%= @event.start_time %></p>
<p>End time: <%= @event.end_time %></p>
<p>Location: <%= @event.location %></p>
<p>Registrants: <%= @event.registrants %></p>


<%= button_to 'RSVP', {controller: "rsvps", action: "create", selected_event: @event} %>

