<!DOCTYPE html>
<html>
<head><meta name="viewport" content="width=device-width, initial-scale=1.0" />


  <title>E-Spot</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Asap' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="top-bar">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#"><%= link_to "E-Spot", root_path %></a></h1>
    </li>
  </ul>

  <ul class="title-area">
    <li class="name">
      <h1><a href="#"><%= link_to "Create an event", new_event_path %></a></h1>
    </li>
  </ul>

  <section class="top-bar-section">
    <!-- Left Nav Section -->
    <ul class="right">
      <li class="name">
        <% if user_signed_in? %>
          <h3><a href="#"><%= "Signed in as #{current_user.first_name}" %></a></h3>
      </li>
      <li class="name">
          <h3><a href="#"><%= link_to "Sign out", 
          destroy_user_session_path, 
          method: :delete %></a></h3>
      </li>
      <li class="name">
        <% else %>
          <h3><a href="#"><%= link_to "Sign up",
          new_user_registration_path %></a></h3>
      </li>
      <li class="name">
          <h3><a href="#"><%= link_to "Sign in",
          new_user_session_path %></a></h3>
        <% end %>
      </li>
    </ul>
  </section>
</nav>

<%= yield %>

</body>
</html>


